@use "sass:color";
.hero{

min-height:100vh;

padding:120px 8% 50px;

display:flex;

align-items:center;

justify-content:space-between;

background:
linear-gradient(
135deg,
#eff6ff,
white
);

}


.hero-content{

width:55%;


h1{

font-size:60px;

line-height:1.1;

color:#28282B;


span{

color:#d20d3d;

}

}



p{

font-size:20px;

color:#28282B;

margin:25px 0;

max-width:600px;

}

}



.hero-buttons{


display:flex;

gap:20px;


a{

padding:14px 30px;

border-radius:10px;

text-decoration:none;

font-weight:600;

}


a:first-child{

background:#d20d3d;

color:white;

}


a:last-child{

border:1px solid #d20d3d;

color:#d20d3d;

}


}



.ai-card{

padding:50px;

border-radius:20px;

background:white;

box-shadow:0 20px 50px #0002;

font-size:25px;

text-align:center;
color: #28282B;

}



@media(max-width:768px){


.hero{

flex-direction:column;

}


.hero-content{

width:100%;

}


.hero-content h1{

font-size:40px;

}


}