.navbar {

    width: 100%;
    padding: 20px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;

    background:white;

    position:fixed;
    top:0;
    z-index:100;

}


.logo {

    font-size:28px;
    font-weight:700;
    color: #28282B;

    span{
        color:#d20d3d;
    }

}


.nav-links{

    display:flex;
    align-items:center;
    gap:30px;


    a{
        text-decoration:none;
        color:#28282B;
        font-weight:500;
    }

}



.login-btn{

    border:1px solid #d20d3d;
    padding:10px 22px;
    border-radius:8px;

}


.signup-btn{

    background:#d20d3d;
    color:white !important;

    padding:12px 25px;
    border-radius:8px;

}



.menu{

    display:none;
}



@media(max-width:768px){

    .menu{
        display:block;
        border:none;
        background:none;
    }


    .nav-links{

        position:absolute;
        top:80px;
        left:0;

        width:100%;

        background:white;

        flex-direction:column;

        padding:30px;

        display:none;

    }


    .nav-links.active{

        display:flex;

    }

}